<div class="card">
  {{!-- <div class="card-header">
    {{ task.title }}
  </div> --}}
  <div class="card-body">
    <h5 class="card-title">Количество: {{ task.amount }} шт.</h5>
    <h5 class="card-title">Стоимость: {{ task.cost }} рублей </h5>
    <p class="card-text">{{ task.cltComments }}</p>

    {{#if user.admin}}
    <p class="card-text">{{ task.contacts }}</p>
    <a style="display: block" href="{{task.cltLink}}" class="mb-3 card-text">{{ task.cltLink }}</a>
    <a style="display: block" href="{{task.cltFiles}}" class="mb-3 card-text"><img style="width: 300px"
        src="/{{ task.cltFiles }}" alt="img"></a>

    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="#" type="button" class="btn btn-secondary">Редактировать</a>
      <a href="#" type="button" class="btn btn-secondary">Удалить</a>
    </div>

    {{#unless task.approved}}
    <a href="#" class="btn btn-success"> Одобрить заявку </a>
    {{/unless}}




    {{else}}

    <a href="#" class="btn btn-primary"> Взять заявку </a>
    {{/if}}
  </div>
  <div class="card-footer text-muted">
    {{ task.updatedAt }}
  </div>
</div>